{% extends 'base.html' %}

{% block title %}{{ slug_course }}{% endblock %}

{% block content %}


{% for article in articles %}

    <div class="container" style="margin-bottom: 30px;">
            <div class="row featurette" style="margin-top: 30px; position: relative;">
              <div class="col-md-3">
                  <img src="{{ article.image.url }}" style="width: 250px; height: 180px; " alt="">
              </div>
              <div class="col-md-9">
                  <a href="{% url 'courses:month' slug=slug_course slug_article=article.slug_article %}"><h2 class="featurette-heading">{{ article.name_rus }}<br></h2></a>
                <p class="lead">{{ article.short_description }}</p>
                <div style='position: absolute; bottom: 0; opacity: 0.7;'>
                    <p>{{ article.type_model }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        {{ article.pub_date }}</p>
                </div>
              </div>
            </div>
    </div>

{% endfor %}


{% endblock %}