{% extends 'base.html' %}


{% block title %}About{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="mt-5">Немного информации о нас</h1>
    <p class="lead">
        Мы -<br>
        -----
        <blockquote class="blockquote-6">
            <p>
                Сдал егэ по математике на 100 баллов в 2019г.<br>
                Два года был репититором по скайпу, но недавно я осознал, что могу помочь большему количеству школьников.<br>
                Считаю, что преподавать нужно с удовольствием.<br>
            </p>
        </blockquote>
        ------
        <blockquote class="blockquote-6">
            <p>
                Сдал егэ по математике на 100 баллов в 2019г.<br>
                Два года курировал в одной из онлайн-школ, также сам в 11 классе занимался по вебинарам.<br>
                Поэтому я понимаю, какая должна быть структура курса<br>
            </p>
        </blockquote>
        Вместе мы надеемся помочь вам(выпусникам школ) сдать ЕГЭ по математике на высокий балл<br>
        Также вы можете помочь сделать наш проект ещё лучше, заполним анкету во вкладке "Help us"<br>
        Спасибо вам, ведь благодаря вам мы можем воплатить наши мечты!
    </p>
    </div>
{% endblock %}